# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
server/node_modules
public
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintrc.cjs
client/package-lock.json
client/package.json
client/tsconfig.json
server/package-lock.json
server/package.json
server/tsconfig.json
server/.env
tsconfig.node.json
vite.config.ts
README.md

